@import "../base/mixin";

.galeria-main {

	.galeria-titulo {
		margin-top: 3rem;
	}

	.fw-light {
		font-family: slthin;
		font-size: 2.3rem;
		font-weight: 580;
	}

	.text-muted {
		font-family: slthin;
		font-size: 1.2rem;
		font-weight: 590;
	}

	.py-lg-5 {
		padding: 0 0 !important;
	}

	.menu-fixed, .menu-fixed-dos, 
	.menu-fixed-tres {
		.btn {
			@extend %buttons;
		}
	}

	.menu-fixed-dos {
		margin-left: 24rem;
	}

	.menu-fixed-tres {
		margin-left: 22rem;
	}

	.card {
		transition: all .1s ease-in-out;
		font-family: slthin;
		font-size: 1rem;

		img {
			width: 100%;
			max-height: 255px;
			padding: .7rem;
			border-radius: 1rem;
			transition: all .1s ease-in-out;
		}
	}

	.card-body {
		.btn {
			@extend %buttons;
			padding: .2rem .3rem;
		}

		.card-text {
			font-family: slthin;
			font-size: 1.1rem;
		}
	}

	.menu-fixed .btn, .menu-fixed-dos .btn,
	.menu-fixed-tres .btn {
		&:hover {
			@include hovers(.9, lighten(#7F38DE, 20));
		}
	}

	.card {
		&:hover {
			border: 1px solid black;
			padding: .1rem;
		}
	}


}